@model eFIN.MVP.Views.Models.AzureDataModels.MarketerEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MarketerEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marketer_domain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marketer_domain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marketer_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marketer_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marketer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marketer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marketer_create)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marketer_create)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marketer_update)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marketer_update)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.marketer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
