@model IEnumerable<eFIN.MVP.Views.Models.AzureDataModels.SupplierEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.supplier_domain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplier_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplier_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplier_create)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplier_update)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.supplier_domain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supplier_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supplier_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supplier_create)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supplier_update)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.supplier_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.supplier_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.supplier_id })
        </td>
    </tr>
}

</table>
